.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 100px;
  background-color: var(--roxo-bg);
  padding: 0 5rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgb(0 0 0 / 25%);
}

.container h1 {
  color: var(--branco);
}

.container h1:hover {
  cursor: pointer;
  color: var(--roxo-detail);
}

.container > div {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.container > div  div{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.container ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.container li {
  color: var(--branco);
  transition: 0.5s;
  font-size: 1.10rem;

}

.container li:hover {
  color: var(--roxo-detail);
  cursor: pointer;
}

.container input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
}

.container input:focus {
  color: var(--branco);
  background-color: var(--roxo-detail);
}

.cart {
  color: var(--branco);
  font-size: 1.25rem;
}


.cart:hover {
  color: var(--roxo-detail);
  cursor: pointer;
}